table{
    border-collapse: collapse;
    box-shadow: 2px 2px 2px rgb(230, 230, 230);
    border-radius: 12px;
    
}


tr:nth-child(1){
    color: white;
    background-color: rgb(6, 178, 123);
}

tr:nth-child(3){
    background-color: rgb(241, 241, 241);
    color: rgb(6, 178, 123);
}

th,td{
  padding: 10px 20px; 
}