/* 13)შექმენი card:

hover-ზე:
გაიზარდოს 1.5 ჯერ
10deg-ით მოტრიალდეს
ზემოთ აიწიოს  */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


div{
    height: 400px;
    width: 300px;
    border: 2px solid red;
}

div:hover{
    transform: scale(1.5) rotate(10deg) translateY(-100px);
}