/* 12)შექმენი კონტეინერი (width: 500px, height: 300px) და 5 ბლოკი.
ელემენტები დაალაგე ვერტიკალურად უკუღმა, ცენტრში ჰორიზონტალურად და ცენტრში ვერტიკალურად. */

.parent{
    width: 500px;
    height: 300px;
    border: 2px solid red;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    
}

.child{
    width: 60px;
    height: 60px;
    border: 2px solid blue;
}