/* 2)შექმენი ორი პარაგრაფი 

პირველ პარაგრაფს მიანიჭეთ შემდეგი სტილები --> ფერი მწვანე , ზომა 35px , სისქე 200

:hover ზე პირველ პარაგრაფს მიენჭოს შემდეგი სტილები --> ფერი წითელი , ზომა 50px  , სისქე 800

მეორე პარაგრაფს მიანიჭეთ შემდეგი სტილები --> ფერი იასამნისფერი , ზომა 15px , სისქე 300

:active ზე მეორე პარაგრაფს მიენჭოს შემდეგი სტილები --> ფერი ყვითელი , ზომა 44px  , სისქე 900 , ასევე გაუჩნდეს ლურჯი ფერის ჩრდილი */

.p1{
    color: green;
    font-size: 35px;
    font-weight: 200;
}

.p1:hover{
    color: red;
    font-size: 50px;
    font-weight: 800;
}

.p2{
    color: purple;
    font-size: 15px;
    font-weight: 300;
}

.p2:active{
    color: yellow;
    font-size: 44px;
    font-weight: 900;
    text-shadow: 2px 2px 1px blue;
}