/*1)შექმენით 4 პარაგრაფი ვებსაიტზე ,თითოეულ მათგანს მიეცი განსვავებული id,პირველი პარაგრაფის სისქე იყოს 100 , მეორე პარაგრაფის სისქე იყოს 700 , მესამე პარაგრაფის სისქე იყოს bolder და მეოთხე პარაგრაფის სისქე იყოს lighter  */

#p1{
    font-weight:100;
}

#p2{
    font-weight:700 ;
}

#p3{
    font-weight:bolder ;
}

#p4{
    font-weight:lighter ;
}