/* 5)ერთსა და იმავე selector-ს ორი სხვადასხვა სტილი დაუწერე.
ერთ-ერთი სტილი დაწერე ზემოთ, მეორე ქვემოთ.(სიტყვაზე color:blue ს ქვემოთ დაწერე color:red;
დააკვირდი, რომელს აირჩევს ბრაუზერი */

p{
    background-color: red;
    background-color: blue;
}

/* browser-მა აირჩია ის სტილი რომელიც მეორედ მივეცით */