/* 2)შექმენი პარაგრაფი, რომელსაც აქვს class.
მიანიჭე მას განსხვავებული სტილი როგორც tag selector-ით, ასევე class selector-ით.
დააკვირდი, რომელი სტილი იმუშავებს და ახსენი მიზეზი. */

p{
    color: red;
    background-color: orange;
    border: 2px solid black;
}

.p1{
    color: blue;
    background-color: yellow;
    border: 2px solid purple;
}


/* იმუშავა class-ის მეშვეობით გასტილვამ, რადგან უფრო პრიორიტეტულია */