div ol li{
    color: red;
    font-size: 30px;
    background-color: green;
    border: 2px solid purple;
}

nav ol li{
    color: blue;
    font-size: 20px;
    background-color: yellow;
    border: 4px solid black;
}