/* 1)შექმენით ერთი დივი,მიეცით ზომები და ფერი

შენი დავალებაა რომ სქროლვის დროს დივი აიპინოს ეკრანის მარჯვენა მხარეს და ცენტრში(Y) */

div {
    width: 200px;
    height: 200px;
    background-color: blue;
    position: fixed;
    right: 0px;
    top: 50%;
}

