/* 6)შექმენი button.
active-ზე:

background-color შეიცვალოს

ტექსტის ფერი შეიცვალოს */

.but1{
    color: black;
    background-color: yellow;
}

.but1:active{
    color: red;
    background-color: blue;
}