/* 7)გაქვს flex container 3 ელემენტით.

სამივე ელემენტს hover გაუკეთეთ და შეუცვალეთ უკანა ფონის ფერი

მაგრამ hover-ზე მესამე ელემენტი უნდა გაიზარდოს დანარჩენებზე მეტად და დაიკავოს დარჩენილი სივრცე
 */

.parent{
    height: 300px;
    width: 500px;
    border: 2px solid red;
    display: flex;
}

.child{
    height: 50px;
    width: 50px;
    background-color: red;
}

#div1:hover{
    background-color: purple;
}

#div2:hover{
    background-color: pink;
}

#div3:hover{
    background-color: black;
    flex-grow: 1;
}