/* 12)გაქვს 3 ელემენტი კონტეინერში 

ყველას აქვს ერთნაირი flex-basis

მაგრამ shrink მნიშვნელობები განსხვავებულია:
პირველი: 1
მეორე: 2
მესამე: 3

დააკვირდი როგორ განსხვავებულად მცირდება თითოეული  */

.parent{
    height: 500px;
    width: 400px;
    border: 2px solid red;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.child{
    flex-basis: 200px;
    background-color: red;
}

#div1{
    flex-shrink: 1;
}
#div2{
    flex-shrink: 2;
}

#div3{
    flex-shrink: 3;
}