/* 14)გაქვს 3 ელემენტი:

ყველას აქვს flex-basis: 250px
container არის 500px

გააკეთე ისე, რომ:

shrink გადანაწილდეს არათანაბრად
ერთი ელემენტი თითქმის უცვლელი დარჩეს */

.parent{
    width: 500px;
    height: 500px;
    border: 2px solid red;
    display: flex;
    gap: 10px;
}

.child{
    flex-basis: 250px;
    background-color: blue;
}

#div1{
    flex-shrink: 0;
}

#div2{
    flex-shrink: 10;
}

#div3{
    flex-shrink: 20;
}