/* 9)შექმენით საიტზე შემდეგი თეგები შემდეგი კომბინაციით ==>

<p> .... </p>
<button>...</button>
<h1> ... </h1>


შენი დავალერბაა რომ ღილაკს მისცე padding ზემოდან და ქვემოდან 20px და გვერდებიდან 100px

ასევე მიეცი ბორდერი ყველა მხარეს 10px dashed red

ასევე მიეცი დაშორება ბორდერსა და გარე ელემენტებს შორის ზემოდან - 150პხ , მარჯვნიდან - 200px ,ქვევიდან - 40px ,მარცხნიდან 121px 

ასევე h1 ს მიეცი გარე დაშორება (margin) მხოლოდ ზემოდან 95px */

button{
    padding: 20px 100px;
    border: 10px dashed red;
    margin: 150px 200px 40px 121px;
}

h1{
    margin-top: 95px;
}