 /* შექმენი მსგავსი ჩრდილები მაქსწიმალურად მიამგვანეთ */

#firsth1{
    text-transform: capitalize;
    text-align: center;
    text-shadow: 5px 4px 4px black;
}

#secondh1{
    color: grey;
    text-transform: capitalize;
    text-align: center;
    text-shadow:2px -3px 1.7px grey ;
}

#thirdh1{
    color: rgb(255, 3, 200);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 1.3px 0.6px rgba(106, 0, 255, 0.908);
}

#fourthh1{
    
    color: white;
    text-align: center;
    text-transform: capitalize;
    text-shadow:1px 1px 14px green;
    background-color: black;
}

#fifthh1{
    color: black;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 1px 1px 3px rgb(22, 186, 22);
}