div{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 9px;
}

.black{
    background-color: black;
    z-index: 1;
    top: 30px;
    left: 30px;
}

.blue{
    background-color: blue;
    z-index: 2;
    top: 55px;
    left: 55px;
}

.green{
    background-color:  green;
    z-index: 1;
    top: 80px;
    left: 80px;
}