/* 13)შექმენი დალაგებული სია 10 ელემენტით

5 ელემენტს მიეცი ერთნაირი კლასი და გასტილე სურვილისამებს

დანაღჩენ 5 ს მიეცი განსხვავებული კლასები ცალცალკე და გასტილე სურვილისამებრ */

.class1{
    color: red;
    background-color: black;
    font-size: 30px;
    text-align: center;
}

.class2{
    color: blue;
    background-color: pink;
    font-size: 10px;
    text-align: right;
}

.class3{
    color: red;
    background-color: black;
    font-size: 20px;
    text-align: left;
}

.class4{
    color: purple;
    background-color: white;
    font-size: 35px;
    text-align: right;
}

.class5{
    color: yellow;
    background-color: orange;
    font-size: 24px;
    text-align: left;
}

.class6{
    color: red;
    background-color: gold;
    font-size: 30px;
    text-align: center;
}
