/* 
5)
შექმენით ორი <div> და ორივეში მოათავსე რაიმე ტექსტები.

მიანიჭეთ ID ები და CSS-ში შეუცვალეთ ფონის ფერი ამ დივებს. */

#div1{
    background-color: orange;
}

#div2{
    background-color: orangered;
}