/* 8)გვერდზე დაამატეთ <h1>, <h2> და <h3>.
მხოლოდ ორ სათაურს მიანიჭეთ ერთნაირი class.

CSS-ში:

ამ class-ით შეცვალეთ შრიფტის ზომა და ფერი

მესამე სათაური უცვლელი დარჩეს */


.class1{
    font-size: 25px;
    color: red;
}